$mainDark: #5b5b5b;
$mainGold: #cc9900;

$openSans: 'Open Sans', sans-serif;
$lato:     'Lato', sans-serif;


body {
	color: $mainDark;
}
a {
	color: inherit;
}

// ---------------- Main Page ----------------
.main-page {
	box-sizing: border-box;
	background-image: url("../img/main-page/mainPageBG.jpg");
	background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 80px;

	nav {
		margin-bottom: 40px;

		.main-page-logo {
			max-width: 90px;
		}
		.main-page-nav-productsArrow {
			margin-left: 8px;
		}
		font-family: $openSans;
		font-size: 20px;
		color: $mainDark;
		border-bottom: 1px solid #c7c7c7;
		li {
			margin-left: 15px;
		}
	}
	
	.main-header {
		margin-top: 15%;
		margin-bottom: 15%;
		h2 {
			color: $mainGold;
			font-family: $lato;
			font-size: 25px;
			text-transform: uppercase;
		}
		h1 {
			color: #000000;
			font-family: $openSans;
			font-size: 58px;
			font-weight: 300;
		}
		.main-header-button {
			margin-top: 15%;
			width: 270px;
			height: 65px;
			background-color: transparent;
	    border: 2px solid $mainGold;
	    color: $mainGold;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 15px;
	    font-family: $lato;
	    text-transform: uppercase;
	    cursor: pointer;
		}
		.main-header-button:hover {
			background-color: rgba(250, 250, 250, 0.4);
			border: 3px solid $mainGold;
		}
		.main-header-button:focus {
	 		outline: none;	    	
		}
	}
	@media (max-width: 1050px) and (min-width: 768px) {
		.main-header {
			h2 {
				font-size: 20px;
			}
			h1 {
				font-size: 36px;
			}
			.main-header-button {
				width: 170px;
				height: 45px;
			}
		}
	}
	@media (max-width: 768px) {
		.main-header {
			text-align: center;
		}
	}

	.wrapper-flex-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

	.carousel-img {
		width: 100%;
	}
}



// ---------------- sets-page ----------------
.sets-page {
	box-sizing: border-box;
	margin-bottom: 80px;

	.wrapper {
		position: relative;
	}
	.margin0 {
		padding: 0px;
	}

	.sets-page-header {
		margin-top: 80px;
		text-align: center;
		h3 {
			text-transform: uppercase;
			font-family: $openSans;
			font-size: 20px;
			img {
				margin-left: 15px;
			}
		}
		margin-bottom: 60px;
	}

	.sets-page-chutney {
		box-sizing: border-box;
		margin-top: 30px;
		position: relative;
		-webkit-box-shadow: 5px 10px 32px -3px rgba(136,136,136,1);
		-moz-box-shadow: 5px 10px 32px -3px rgba(136,136,136,1);
		box-shadow: 5px 10px 32px -3px rgba(136,136,136,1);
		padding: 10%;
		padding-top: 10%;
		padding-bottom: 10%;
		border-radius: 10px;
	  .sets-page-chutney-imgbox {
	  	float: right;
	  	width: 70%;
	  	text-align: center;
	  	.sets-page-chutney-img {
	  		max-width: 89%;
	  		padding-left: 15px;
	  		padding-top: 10%;
	  		text-align: center;
	  	}
	  }
	  .sets-page-chutney-textbox {
	  	float: left;
	  	width: 30%;
	  	p {
	  		font-family: $lato;
	  		font-size: 18px;
	  		padding-left: 10%;
	  		padding-bottom: 10%;
	  	}
		  .sets-page-bag-add {
				-webkit-box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
				-moz-box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
				box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
				padding: 7px 10px;
				border-radius: 20px;
				text-transform: uppercase;
		  	position: absolute;
		  	left: 15%;
	    	bottom: 10%;
		  	span {
		  		margin-left: 10px;
		  	}
		  }
		}
	  .clear-div {
	  	clear: both;
	  }
	}

	.sets-page-smallImg {
		box-sizing: border-box;
		margin: 30px 0;
		position: relative;
		background-color: #f6f6f6;
		text-align: center;
		padding: 0px 15px;
    min-height: 200px;
    max-width: 208px;
    border-radius: 10px;
    img {
    	position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
    }
		.sets-page-bag {
				-webkit-box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
				-moz-box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
				box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
				height: 50px;
				width: 50px;
				border-radius: 25px;
		  	position: absolute;
		  	left: 15%;
	    	bottom: 10%;
	    	background-color: white;
		  }
	}

	.sets-page-tallImg {
		box-sizing: border-box;
		margin: 30px 0;
		position: relative;
		background-color: #f6f6f6;
		text-align: center;
    min-height: 403px;
    border-radius: 10px;
    .tall-img {
    	position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
    }
		.sets-page-bag {
			-webkit-box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
			-moz-box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
			box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
			height: 50px;
			width: 50px;
			border-radius: 25px;
	  	position: absolute;
	  	left: 15%;
    	bottom: 10%;
    	background-color: white;
    	img {
	    	position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
    	}
		}
	}
	@media (max-width: 1200px) {
		.sets-page-tallImg {
			min-height: 335px;
		}
	}
	@media (max-width: 991px) and (min-width: 768px) {
		.sets-page-tallImg {
			min-height: 244px;
			img{
				width: 45%;
			}
		}
	}
	@media (max-width: 767px) {
		.sets-page-tallImg, .sets-page-smallImg  {
			margin-left: auto;
			margin-right: auto;
			max-width: 208px;
		}
	}

	.sets-page-bigImg-2column {
		img {
			max-width: 100%;
			border-radius: 10px;
		}
	}
}



// ---------------- narrow-page ----------------
.narrow-page {
	min-height: 250px;
	background-image: url("../img/narrow-page/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  .narrow-page-title {
  	display: inline-block;
  	color: white;
  	font-family: $openSans;
  	font-weight: 300;
  	font-size: 44px;
  }
  .narrow-page-btnWrap{
  	text-align: right;
  }
  .narrow-page-button {
  	display: inline-block;
  	margin: 0px auto;
  	margin-top: 100px;
		width: 270px;
		height: 65px;
		background-color: transparent;
    border: 2px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: $lato;
    text-transform: uppercase;
    margin-bottom: 50px;
    cursor: pointer;
  }
  .narrow-page-button:hover {
		background: rgba(170, 170, 170, 0.4);
	}
	.narrow-page-button:focus {
	 	outline: none;	    	
	}

	@media (max-width: 767px) {
		.narrow-page  {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
		.narrow-page-btnWrap{
		 	text-align: center;
		}
	}
}



// ---------------- inspiration-page ----------------
.inspiration-page {
	margin-top: 80px;
	margin-bottom: 80px;

	.inspiration-page-header {
		text-align: center;
		margin-bottom: 60px;
		h3 {
			text-transform: uppercase;
			font-family: $openSans;
			font-size: 20px;
		}
	}

	.inspiration-page-bigImg {
		padding-bottom: 15px;
		img {
			max-width: 100%;
		}
	}

	.sets-page-smallImg-card {
		box-sizing: border-box;
		position: relative;
		-webkit-box-shadow: 5px 10px 32px -3px rgba(136,136,136,1);
		-moz-box-shadow: 5px 10px 32px -3px rgba(136,136,136,1);
		box-shadow: 5px 10px 32px -3px rgba(136,136,136,1);
		margin: 15px 0;
		min-height: 200px;	
	  .sets-page-chutney-imgbox {
	  	float: right;
	  	width: 70%;
	  	text-align: center;
	  	.sets-page-chutney-img {
	  		max-width: 100%;
	  		position: absolute;
			  top: 50%;
			  left: 60%;
			  transform: translate(-50%, -50%);
	  		// text-align: center;
	  	}
	  }
	  .sets-page-chutney-textbox {
	  	// position: relative;
	  	float: left;
	  	width: 30%;
	  	p {
	  		margin-left: 15px;
	  		margin-top: 15px;
	  		font-family: $lato;
	  		font-size: 18px;
	  		padding-left: 10%;
	  		padding-bottom: 10%;
	  	}
		  .sets-page-bag-add {
				-webkit-box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
				-moz-box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
				box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
				padding: 7px 10px;
				border-radius: 20px;
				text-transform: uppercase;
		  	position: absolute;
		  	left: 10%;
	    	bottom: 15%;
		  	span {
		  		margin-left: 10px;
		  	}
		  }
		}
	  .clear-div {
	  	clear: both;
	  }
	}


		.sets-page-smallImg {
		box-sizing: border-box;
		margin: 15px 0;
		position: relative;
		background-color: #f6f6f6;
		text-align: center;
		padding: 0px 15px;
    min-height: 200px;
    max-width: 300px;
    border-radius: 10px;
    img {
    	position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
    }
		.sets-page-bag {
				-webkit-box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
				-moz-box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
				box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
				height: 50px;
				width: 50px;
				border-radius: 25px;
		  	position: absolute;
		  	left: 15%;
	    	bottom: 10%;
	    	background-color: white;
		  }
	}

	.margin-up {
		margin-top: 0px;
	}

	@media (max-width: 767px) {
		.sets-page-smallImg, .sets-page-smallImg-card  {
			margin-left: auto;
			margin-right: auto;
			max-width: 208px;
		}
	}

}



// ---------------- serve-page ----------------
.serve-page {
	background-color: #f6f6f6;
	padding: 50px 0px;
	margin-bottom: 80px;

	.serve-page-header {
		text-align: center;
		margin-bottom: 80px;
		h3 {
			font-family: $openSans;
			font-size: 56px;
			font-weight: 300;
			color: $mainGold;
		}		
	}

	.serve-box {
		box-sizing: border-box;
		padding: 15px;
		text-align: center;
		.serve-box-img-wrapper {
			margin: auto;
			position: relative;
			background-color: $mainGold;
			width: 140px;
			height: 140px;
			border-radius: 70px;
			margin-bottom: 45px;
			.serve-box-img {
				position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			}
		}
		.serve-box-desc {
			text-align: center;
			font-family: $openSans;
			font-size: 15px;
			text-transform: uppercase;
			color: black;
		}

	}
}



// ---------------- gift-page ----------------
.gift-page {
	margin-bottom: 100px;

	.gift-page-header {
		text-align: center;
		margin-bottom: 30px;
		h3 {
			text-transform: uppercase;
			font-family: $openSans;
			font-size: 20px;
		}
	}

	.sets-page-smallImg {
		box-sizing: border-box;
		position: relative;
    margin-top: 30px;
		background-color: #f6f6f6;
		text-align: center;
		padding: 0px 15px;
    min-height: 200px;
    .small-img-paddingUp {
    	padding: 15px;
    	position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  max-width: 100%;
    }
		.sets-page-bag {
				-webkit-box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
				-moz-box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
				box-shadow: 0px 0px 15px 0px rgba(170,170,170,1);
				padding: 7px 10px;
				border-radius: 20px;
		  	position: absolute;
		  	left: 15%;
	    	bottom: 20%;
	    	background-color: white;
		  }
	}

}



// ---------------- massimo-page ----------------
.massimo-page {
	background-image: url("../img/massimo-page/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 520px;
  margin-bottom: 80px;

  .massimo-recipes-textbox {
  	padding-top: 65px;
  	font-family: $openSans;
  	color: #f6f6f6;
  	.massimo-recipes-textbox-title {
  		font-weight: 300;
  		font-size: 60px;
  		margin-bottom: 70px;
  	}

		.massimo-recipes-textbox-button {
			min-width: 330px;
			min-height: 70px;
			display: inline-block;
	  	margin: 0px auto;
			background-color: transparent;
	    border: 2px solid #f6f6f6;
	    color: #f6f6f6;
	    text-align: center;
	    text-decoration: none;
	    font-size: 16px;
	    font-family: $openSans;
	    text-transform: uppercase;
	    cursor: pointer;
	  }
	  .massimo-recipes-textbox-button:hover {
			background: rgba(240, 240, 240, 0.2);
		}
		.massimo-recipes-textbox-button:focus {
		 	outline: none;	    	
		}
	
  }
}



// ---------------- blog-page ----------------
.blog-page{
	margin-bottom: 120px;

	.blog-page-header {
		text-align: center;
		margin-bottom: 70px;
		h3 {
			text-transform: uppercase;
			font-family: $openSans;
			font-size: 20px;
		}
	}

	.blog-page-card {
		box-sizing: border-box;
		position: relative;
		margin: 0px auto;
    margin-top: 30px;
		background-color: #f6f6f6;
    min-height: 280px;
    max-width: 289px;
    .small-img {
		  max-width: 100%;
    }
    .blog-page-card-textBlock {
    	padding: 15px;
    	font-size: 15px;
    	color: black;
    	.bold {
    		font-weight: bold;
    	}
    	.blog-page-card-arrow {
    		position: absolute;
    		right: 15px;
    		bottom: 15px;
    	}
    }
	}

}



// ---------------- contact-page ----------------
.contact-page {
	background-image: url("../img/contact-page/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 525px;	
  box-sizing: border-box;
  padding-top: 60px;
  color: #f6f6f6;

  .contact-page-header {
  	font-family: $openSans;
  	font-weight: 300;
  	font-size: 60px;
  	margin-bottom: 80px;
  }

	.contact-page-contacts {
		box-sizing: border-box;
		position: relative;
		font-family: $openSans;
  	font-size: 15px;
  	margin-bottom: 50px;
  	font-weight: bold;
  	padding-left: 60px;
  	text-transform: uppercase;
  	.contact-page-image {
  		position: absolute;
  		left: 0px;
  		top: 15%;
  	}
	}

	.contact-page-social {
		position: relative;
		display: inline-block;
		min-width: 44px;
		min-height: 44px;
		background-color: $mainGold;
		border-radius: 22px;
		margin-right: 20px;
		.contact-page-social-img {
			position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		}
	}

	.contact-page-form {
		box-sizing: border-box;
		background-color: white;
		padding: 25px; 
		max-width: 470px;
		border-radius: 10px;
		margin: 0px auto;
		margin-top: 10px;

		.contact-page-form-input {
			margin: 25px 0;
		}
		
		.wrapper {
			text-align: center;
			.contact-page-form-button {
		  	display: inline-block;
		  	margin: 0px auto;
				width: 210px;
				height: 45px;
				background-color: transparent;
		    border: 2px solid $mainGold;
		    color: $mainGold;
		    text-align: center;
		    text-decoration: none;
		    font-size: 15px;
		    font-family: $openSans;
		    font-weight: 700;
		    text-transform: uppercase;
		    cursor: pointer;
		  }
		  .contact-page-form-button:hover {
				background: rgba(170, 170, 170, 0.4);
			}
			.contact-page-form-button:focus {
			 	outline: none;	    	
			}
		}		
	}

	@media (max-width: 767px) {
		.contact-page-textBlock  {
			margin-left: 35px;
		}
	}
}



footer {
	background-color: #222222;
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: #f6f6f6;
}